/* =============== Uploader =============== */


.dropzoneContainer {
  text-align: center;
}

.uploadContainer {
  padding: 60px;
  align-items: center;
  align-self: center;
  text-align: center;

  border: 3px dashed rgba(0,0,0,.1);
  border-radius: 5px;
}

.uploadContainer:hover {
  background-color: rgba(0,0,0,0.02);
  cursor: pointer;
}

.uploadTextLight {
  color: rgba(0,0,0,.3);
}

.uploadTextDark {
  color: rgba(0,0,0,.7);
}

.uploadTextRed {
  color: rgba(255, 0, 0, 0.7);
}

.uploadImg {
  opacity: 0.2;
}